body {
    font-family: sans-serif;
    margin: auto;
    max-width: 800px;
    line-height: 1.6;
    background-color: #EEEEEE;
    color: #123456;

    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 15em;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    border-style: solid;
    border-color: black;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    min-width: 15em;
}

.box:hover {
    background-color: #EEFFFF;
}
